<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    
    <div class="links">
        <form action="/about" method="get"><button>About</button></form>
        <form action="/previous" method="get"><button>Home</button></form>
        <form action="/ranking" method="get"><button>Users</button></form>
        <form action="/submit" method="get"><button>Rankings</button></form>
        
        
    </div>
</body>
</html>